<% @user ||= current_user %>
<%= form_for(@user,url:notice_follow_path,
             html: { method: :delete },
             remote: true) do |f| %>
  <div><%= hidden_field_tag :id, @user.id %></div>
  <%= f.submit "not notice when followed", class: "btn" %>
<% end %>